*, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5rem auto;
	margin-bottom: 2rem;
}

.container__child {
	max-width: 300px;
	width: 100%;
}

.calculator {
	color: grey;
}

.calculator .display {
	background: #212121;
	padding: 1rem;
}

.display .calculator-display {
	width: 100%;
	border: 0px;
	background: #3B3B3B;
    padding: .650rem;
    outline: none;
}

.calculator-display output {
	display: block;
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
}

output#user-input {
	font-size: 1.325rem;
	font-weight: 400;
	text-align: right;
	color: white;
}

output#result {
	font-size: 1.625rem;
	font-weight: 600;
	text-align: right;
	color: white;
}

.calculator .all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #212121;
}

.all-buttons button {
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button.equals {
	grid-column: 3 / 5;
}

button.equals:hover {
	background: white;
	color: var(--white);
}

button.digits:hover,
button.decimal:hover {
	background: white;
	color: #212121;
}

button.operators:hover {
	background: white;
	color: #000;
}

button.allclear:hover,
button.clear:hover {
	background: white;
	color: #000;
}

footer {
	margin-bottom: 1rem;
	font-weight: 700;
	text-align: center;
	text-shadow: -1px 1.5px 0px rgba(0,0,0,0.4);
}